@charset "iso-8859-1";
/*/ >>> CSS Document <<< /*/

body {
	font-family: helvetica, Fallback, sans-serif;
	max-width: 100%;
	background: #fff;
	text-decoration: none;
	text-align: left;
	
}

/*/ >>> TYPE SETTINGS (START) body <<< /*/

h1 {
	font-family: monospace, Fallback, sans-serif;
	background: #000;
	text-align: left;
	font-size: 31px;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	padding-top: 20px;
	padding-right: 15%;
	padding-bottom: 40px;
	padding-left: 15%;
}

h2 {
	font-family: helvetica, Fallback, arial, sans-serif;
	text-align: left;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 3px;
	color: hsl(0, 100%, 0%);
	text-decoration: none;
	padding-top: 25px;
	padding-right: 15%;
	padding-bottom: 35px;
	padding-left: 15%;
}

h3   {
	font-family: helvetica, Fallback, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	color: hsl(0, 100%, 0%);
	text-align: left;
	padding-top: 15px;
	padding-right: 16%;
	padding-bottom: 25px;
	padding-left: 16%;
	line-height: 140%;	
	font-weight: lighter;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 800;
	color: #242424;
	padding-right: 5%;
}

/*/ >>> TYPE SETTINGS (END) body <<< /*/

/*/ >>> BOXES (START) body <<< /*/

img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
	padding-top: 5%;
}

.portrait_horizontal {
	height: auto;
	width: 32%;
	text-align: left;
}

.logo img {
	/* text-align: baseline; */
	max-width: 100%;
	height: 30%;
	width: 30%;
}

.logo-links {
	/* text-align: baseline; */
	max-width: 100%;
	height: 8%;
	width: 8%;
	padding-right: 2%;
}

/*/ >>> BOXES (END) body <<< /*/

/*/ >>> FOOTER (START) body <<< /*/

footer {
	width: 100%;
	height: 69px;
	background: #000;
	bottom: 0;
	position: fixed;
}

footer ul {
	list-style-type: none;
	width: 96%;
}

footer ul li {
	float: left;
	border: none;
	font-size: 14.5px;
	letter-spacing: 6px;
	color: #ccc5bf;
	text-decoration: none;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4%;
}

/*/ >>> FOOTER (END) body <<< /*/


/*/ ----------------------------------------------------------------------------- /*/
/*/ -------------------------- MEDIA QUERYES (START) ---------------------------- /*/
/*/ ----------------------------------------------------------------------------- /*/

/*/ ----------------------------------------------------------------------------- /*/
/*/ ***************************  max width 1200 px ****************************** /*/
/*/ ----------------------------------------------------------------------------- /*/

@media screen and (max-width: 1200px) {

	body {
		font-family: helvetica, Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
	}

	/*/ *** TYPE SETTINGS (START) 1200 px *** /*/

	h1	{
		font-family: Monospace, Fallback, sans-serif;
		background: #000;
		text-align: left;
		font-size: 31px;
		letter-spacing: 3px;
		color: #fff;
		font-weight: 400;
		text-decoration: none;
		padding-top: 20px;
		padding-right: 20%;
		padding-bottom: 40px;
		padding-left: 20%;
	}

	h2	{
		font-family: Helvetica, Fallback, arial, sans-serif;
		text-align: left;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 3px;
		text-decoration: none;
		padding-top: 25px;
		padding-right: 20%;
		padding-bottom: 35px;
		padding-left: 20%;
	}

	h3	{
		font-family: Helvetica, Fallback, arial, sans-serif;
		font-size: 14px;
		letter-spacing: 1px;
		text-align: left;
		padding-top: 15px;
		padding-right: 20%;
		padding-bottom: 25px;
		padding-left: 20%;
		line-height: 140%;	
		font-weight: lighter;
		vertical-align: baseline;
	}

	/*/ *** TYPE SETTINGS (END) 1200 px *** /*/

	/*/ *** BOXES (START) 1200 px *** /*/

	.portrait_horizontal {
		width: 34%;
	}

	.logo img {
		width: 30%;
		height: auto;
	}
	
	/*/ *** BOXES (END) 1200 px *** /*/

	/*/ *** FOOTER (START) 1200 px *** /*/

	footer {
		width: 100%;
		height: 62;
		background: #000;
		position: fixed;
		bottom: 0;
	}

	footer ul {
  		list-style: none;
 		width: 100%;
		text-align: center;
	}

	footer ul li {
		padding-left: 4.5%;
		float: left;
		clear: right;
		padding-top: 26px;
  		padding-bottom: 22px;
		border: none;
		font-size: 13px;
		letter-spacing: 5px;
		color: #ccc5bf;
		text-decoration: none;
		text-align: center;
	}

	/*/ *** FOOTER (END) 1200 px *** /*/
}

/*/ ----------------------------------------------------------------------------- /*/
/*/ *************************** max width 1000 px START ************************* /*/
/*/ ----------------------------------------------------------------------------- /*/

@media screen and (max-width: 1000px) {

	body {
		font-family: helvetica, Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
		text-align: center;
	}

	/*/ *** TYPE SETTINGS (START) 1000 px *** /*/

	h1	{
		font-family: Monospace, Fallback, sans-serif;
		background: #000;
		text-align: left;
		font-size: 24px;
		letter-spacing: 2px;
		color: #fff;
		font-weight: 400;
		text-decoration: none;
		padding-top: 20px;
		padding-right: 18%;
		padding-bottom: 40px;
		padding-left: 18%;
	}

	h2	{
		font-family: Helvetica, Fallback, sans-serif;
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		text-decoration: none;
		padding-top: 25px;
		padding-right: 18%;
		padding-bottom: 35px;
		padding-left: 18%;
	}

	h3	{
		font-family: Helvetica, Fallback, sans-serif;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: left;
		padding-top: 15px;
		padding-right: 18%;
		padding-bottom: 25px;
		padding-left: 18%;
		line-height: 140%;	
		font-weight: lighter;
		vertical-align: baseline;
	}

	/*/ *** TYPE SETTINGS (END) 1000 px *** /*/

	/*/ *** BOXES (START) 1000 px *** /*/

	.portrait_horizontal {
		width: 36%;
	}

	.logo img {
		width: 30%;
		height: auto;
	}
	
	/*/ *** BOXES (END) 1000 px *** /*/

	/*/ *** FOOTER (START) 1000 px *** /*/

	footer {
		width: 100%;
		height: 62;
		background: #000;
		position: fixed;
		bottom: 0;
	}

	footer ul {
  	list-style: none;
 		width: 100%;
		text-align: center;
	}

	footer ul li {
		padding-left: 4.5%;
		float: left;
		clear: right;
		padding-top: 26px;
  		padding-bottom: 22px;
		border: none;
		font-size: 14px;
		letter-spacing: 5px;
		color: #ccc5bf;
		text-decoration: none;
		text-align: center;
	}

	/*/ *** FOOTER (END) 1000 px *** /*/
}

/*/ ----------------------------------------------------------------------------- /*/
/*/ ************************** max width 800 px START *************************** /*/
/*/ ----------------------------------------------------------------------------- /*/

@media screen and (max-width: 800px) {

	body {
		font-family: helvetica, Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
	}

	/*/ *** TYPE SETTINGS (START) 800 px *** /*/

	h1	{
		font-family: Monospace, Fallback, sans-serif;
		background: #000;
		text-align: left;
		font-size: 22px;
		letter-spacing: 2px;
		color: #fff;
		font-weight: 400;
		text-decoration: none;
		padding-top: 20px;
		padding-right: 16%;
		padding-bottom: 40px;
		padding-left: 18%;
	}

	h2	{
		font-family: Helvetica, Fallback, sans-serif;
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		text-decoration: none;
		padding-top: 20px;
		padding-right: 16%;
		padding-bottom: 15px;
		padding-left: 16%;
	}

	h3	{
		font-family: Helvetica, Fallback, sans-serif;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: left;
		padding-top: 9px;
		padding-right: 14%;
		padding-bottom: 15px;
		padding-left: 14%;
		line-height: 140%;	
		font-weight: lighter;
		vertical-align: baseline;
	}
	
	a {
		font-size: 11px;
		padding-right: 5%;
	}

	/*/ *** TYPE SETTINGS (END) 800 px *** /*/

	/*/ *** BOXES (START) 800 px *** /*/

	.portrait_horizontal {
		width: 38%;
	}

	.logo img {
		width: 30%;
		height: auto;
	}
	
	/*/ *** BOXES (END) 800 px *** /*/

	/*/ *** FOOTER (START) 800 px *** /*/

	footer {
		width: 100%;
		height: 62;
		background: #000;
		position: fixed;
		bottom: 0;
	}

	footer ul {
  	list-style: none;
 		width: 100%;
		text-align: center;
	}

	footer ul li {
		padding-left: 4.5%;
		float: left;
		clear: right;
		padding-top: 26px;
  		padding-bottom: 22px;
		border: none;
		font-size: 14px;
		letter-spacing: 5px;
		color: #ccc5bf;
		text-decoration: none;
		text-align: center;
	}

	/*/ *** FOOTER (END) 800 px *** /*/
}
	
/*/ ----------------------------------------------------------------------------- /*/
/*/ *************************** max width 600 px START ************************** /*/
/*/ ----------------------------------------------------------------------------- /*/


@media screen and (max-width: 600px) {

	body {
		font-family: helvetica, Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
	}

	/*/ *** TYPE SETTINGS (START) 600 px *** /*/

	h1 {
		font-family: Monospace, Fallback, sans-serif;
		background: #000;
		text-align: left;
		font-size: 20px;
		letter-spacing: 2px;
		color: #fff;
		font-weight: 400;
		text-decoration: none;
		padding-top: 20px;
		padding-right: 15%;
		padding-bottom: 40px;
		padding-left: 15%;
	}

	h2	{
		font-family: Helvetica, Fallback, sans-serif;
		text-align: left;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		text-decoration: none;
		padding-top: 5px;
		padding-right: 15%;
		padding-bottom: 5px;
		padding-left: 15%;
	}

	h3	{
		font-family: Helvetica, Fallback, sans-serif;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: left;
		padding-top: 0px;
		margin-right: 0px;
		padding-bottom: 15px;
		margin-left: 0px;
		font-weight: lighter;
		vertical-align: baseline;
	}

	a {
		font-size: 11px;
		padding-right: 5%;
	}

	/*/ *** TYPE SETTINGS (END) 600 px *** /*/

	/*/ *** BOXES (START) 600 px *** /*/

	.portrait_horizontal {
		width: 40%;
	}

	.logo img {
		width: 50%;
		height: auto;
	}
	
	/*/ *** BOXES (END) 600 px *** /*/

	/*/ *** FOOTER (START) 600 px *** /*/

	footer {
		width: 100%;
		height: 62;
		background: #000;
		position: fixed;
		bottom: 0;
	}

	footer ul {
  	list-style: none;
 		width: 100%;
		text-align: center;
	}

	footer ul li {
		padding-left: 4.5%;
		float: left;
		clear: right;
		padding-top: 26px;
  		padding-bottom: 22px;
		border: none;
		font-size: 12px;
		letter-spacing: 5px;
		color: #ccc5bf;
		text-decoration: none;
		text-align: center;
	}
	/*/ *** FOOTER (END) 600 px *** /*/
}